<!-- Quando formos integrar ao AngularJS, esse head some -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="http://localhost/SGProjetos/css/labels.css">
    <link rel="stylesheet" href="http://localhost/SGProjetos/css/navbar.css">
    <link rel="stylesheet" href="http://localhost/SGProjetos/css/ui.css">
</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <!-- Esse IMG entra o logo que o Zé vai "fazer" -->
            <img src="http://localhost/SGProjetos/imagens/logo.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost/SGProjetos/views/projetos.php">Tela Inicial <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost/SGProjetos/views/projetos.php">Projetos Disponíveis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost/SGProjetos/views/meus_projetos.php">Meus Projetos</a>
                </li>
            </ul>
            <a class="btn btn-outline-info my-2 my-sm-0 form-inline mt-2 mt-md-0" href="http://localhost/SGProjetos/views/tela_login.php">Logar</a>
        </div>
    </nav>
</header>

<script src="http://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="/js/bootstrap.js"></script>